<div class="o-my-cv{{#if modifier}} o-my-cv--{{modifier}}{{/if}}" data-t-name="MyCv"{{#if decorator}} data-t-decorator="{{decorator}}"{{/if}}>
	<h1>My CV works!</h1>
	<div class="row">
		<div class="col-sm-3">
			Bootstrap Col1
		</div>
		<div class="col-sm-3">
			Bootstrap Col2
		</div>
		<div class="col-sm-3">
			Bootstrap Col3
		</div>
	</div>
</div>
